<html>
<body>
<script type="text/javascript">
function readURL(){
  var fullPath = document.getElementById('predict').value;
<!--  if (fullPath) {-->
<!--      var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));-->
<!--      var filename = fullPath.substring(startIndex);-->
<!--      if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {-->
<!--          filename = filename.substring(1);-->
<!--      }-->
     document.getElementById("filename").value = fullPath;
  }
}

<!--    &lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;-->
<!--    <script>-->
<!--        function getTextValue(textId) {-->
<!--            const container = q(textId)-->
<!--            if (container) {-->
<!--                return container.value-->
<!--            }-->
<!--            return ""-->
<!--        }-->
<!--        function q(selector) { return document.querySelector(selector) }-->
<!--        q('#text').focus()-->
<!--        function do_tts(e) {-->
<!--            const text = q('#text').value-->
<!--            const speaker_id = getTextValue('#speaker_id')-->
<!--            const style_wav = getTextValue('#style_wav')-->
<!--            if (text) {-->
<!--                q('#message').textContent = 'Synthesizing...'-->
<!--                q('#speak-button').disabled = true-->
<!--                q('#audio').hidden = true-->
<!--                synthesize(text, speaker_id, style_wav)-->
<!--            }-->
<!--            e.preventDefault()-->
<!--            return false-->
<!--        }-->
<!--        q('#speak-button').addEventListener('click', do_tts)-->
<!--        q('#text').addEventListener('keyup', function (e) {-->
<!--            if (e.keyCode == 13) { // enter-->
<!--                do_tts(e)-->
<!--            }-->
<!--        })-->
<!--        function synthesize(text, speaker_id = "", style_wav = "") {-->
<!--            fetch(`/api/tts?text=${encodeURIComponent(text)}&speaker_id=${encodeURIComponent(speaker_id)}&style_wav=${encodeURIComponent(style_wav)}`, { cache: 'no-cache' })-->
<!--                .then(function (res) {-->
<!--                    if (!res.ok) throw Error(res.statusText)-->
<!--                    return res.blob()-->
<!--                }).then(function (blob) {-->
<!--                    q('#message').textContent = ''-->
<!--                    q('#speak-button').disabled = false-->
<!--                    q('#audio').src = URL.createObjectURL(blob)-->
<!--                    q('#audio').hidden = false-->
<!--                }).catch(function (err) {-->
<!--                    q('#message').textContent = 'Error: ' + err.message-->
<!--                    q('#speak-button').disabled = false-->
<!--                })-->
<!--        }-->
<!--    </script>-->

</script>
      <input id="upload" type ="file" name = "file" onchange="readURL();" />
      <form action = "http://192.168.142.79:5053/predict" method = "POST"
         enctype = "multipart/form-data">
         <input id="filename" type="hidden" name="filename" />
         <input type = "submit"/>
      </form>
   </body>
</html>